<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    
    <system.serviceModel>
        <services>
            <service name="RealServer.ChatServer">
                <endpoint address="net.tcp://localhost:9000/ChatServer" binding="netTcpBinding"
                    bindingConfiguration="" name="ChatService" contract="ClientServerInterface.IChatServer" />
            </service>
        </services>
    </system.serviceModel>
</configuration>
